<!--
NAV BAR BLOCK-------------------------------------------------------
-->

<div class="nav">
    <ul>
      <li><a (click)="onClick('all')" class="nav-link">All</a></li>
      <li><a (click)="onClick('sword')" class="nav-link">Swords</a></li>
      <li><a (click)="onClick('shield')" class="nav-link">Shields</a></li>
      <li><a (click)="onClick('armor')" class="nav-link">Armor</a></li>
      <li><a (click)="onClick('ring')" class="nav-link">Rings</a></li>
      <li><a (click)="onClick('logout')" class="nav-link">Logout</a></li>
      <li><a (click)="onClick('checkout')" class="nav-link">Checkout</a></li>
    </ul>
  </div>

<!--
-------------------------------------------------------
-->