<div>
    <button (click)="goBack()">
       Back
    </button>

    <div class="container">
        <!--
            push all the items given by the server into the CSS grid
        -->
        <div class="item" *ngFor="let item of listItems"> 
                <div class="item_image" >
                    <img class="center" src="{{item.url_index_to_img}}">
                </div>
                <h3 class="name_item">
                    {{item.name }}
                </h3>
                <p class="cost_item">
                    price: <span class="box">{{item.cost}} gold coins</span> 
                </p>
        </div>
    </div>
    
    <p class="total">
        ${{total}}
    </p>
    <button class="exit" (click)="exit()">
        checkout
    </button>
    <hr class="end_line">
</div>

<div id="loading" *ngIf="showLoadingGif">
    <img src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif">
  </div>
  
    

