h1{
    background-color: aqua;
}

.container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(20vh,auto);
    gap: 10px;
  }

.item{
    display: grid;
    grid-template-rows: 300px 400px;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
}

.qty_io
{   
    height: 50px;
    width: 70px;
    background: lightgrey;
    border:none;
    border-radius: 5px;
}
button{
    white-space: normal;
    border:0px;
    font-family: lato;
    font-size: 1.5vw;
    height: 50px;
    padding: 2px;
    color: black;
}

button:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}
button:active{
    color: rgb(0, 0, 0);
    background-color: rgb(20, 255, 12);
}

.name{
    padding:25px;
    order: 1;
}
.button_cart{
    padding:25px;
    order: 2;
}

.purchace_bar{
    display: flex;
    grid-column: 1/-1;
   
    grid-row: 3/-1;
}
.des_field_comp{
    padding: 25px;
    grid-column: 1/-1;
    grid-row: 2/3;
   
}

.des_field_comp h3{
    grid-column: 1/-1;
    font-family: lato;
    font-size: 2vw;
}
.des{
    grid-column: 1/-1;
    font-family: lato;
    font-size: 1vw;
    color: rgb(88, 87, 87);
}

.cost{
    grid-column: 1/2;
    color: rgb(158, 134, 0);
    font-family: lato;
    font-size: 1.25vw;
}

.quant{
    grid-column: 2/-1;
    color: rgb(3, 0, 194);
    font-family: lato;
    font-size: 1.25vw;
}
.item_image{
    grid-row: 1/2;
    grid-column: 1/-1;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    max-height: 300px;
  }

.box{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color:lightgrey;
    font-style: italic;
    border-radius: 12px;
}

.add_to_cart{
    order: 2;
}